   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/blogs">Daily Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

        {{^authenticated}}
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/blogs/register">Register Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/blogs/login">Login Page</a>
        </li>
          {{/authenticated}}

        <li class="nav-item">
            <a class="nav-link"  href="http://localhost:3000/blogs">View All Blogs</a>
        </li>

         {{#authenticated}}
          <li class="nav-item">
            <a class="nav-link"  href="http://localhost:3000/blogs/my-blogs">View My Blogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/blogs/create-blog">Create Blog</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/blogs/logout">Logout</a>
        </li>
         {{/authenticated}}

        </ul>
    </div>
    </nav>