<html>
<head>
</head>

    <body>

    <h1>All Blogs Here!</h1>

        {{#blogs}}
           
            <h2>{{title}}</h2>
            <h2>{{author}}</h2>
            <h2>{{datecreated}}</h2>
            <h2>{{body}}</h2>
        
        {{/blogs}}

    </body>
</html>