<html>
<head>
</head>

    <body>


    <header>
    <a href="http://localhost:3000/blogs/register">Register Page</a>
    <a href="http://localhost:3000/blogs/login">Login Page</a>
    <a href="http://localhost:3000/blogs">All Blogs</a>
    <a href="http://localhost:3000/blogs/create-blog">Create Blog</a>
</header>
    
        <h1 id="createTitlePage">Write A Blog</h1>

       <form id="createForm" action="/blogs/create-blog" method="POST"">
        <span>Blog Title:</span>
        <input type="text" name="title" />
        <span>Author:</span>
        <input type="text" name="author" />
        <span>Body:</span>
        <textarea name="body"></textarea>
        <button>Publish</button>
       </form>

    </body>
</html>

