<html>
<head>
</head>

    <body>
    
        <h1 id="createTitlePage">Write A Blog</h1>

       <form id="createForm" action="/blogs/create-blog" method="POST"">
        <span>Blog Title:</span>
        <input type="text" name="title" />
        <span>Author:</span>
        <input type="text" name="author" />
        <span>Body:</span>
        <textarea name="body"></textarea>
        <button>Publish</button>
       </form>

    </body>
</html>

