<html>
<head>
<link rel="stylesheet"  href="/css/styles.css">
</head>

    <body>


    <header>
    <a href="http://localhost:3000/blogs/register">Register Page</a>
    <a href="http://localhost:3000/blogs/login">Login Page</a>
    <a href="http://localhost:3000/blogs">All Blogs</a>
    <a href="http://localhost:3000/blogs/create-blog">Create Blog</a>
</header>

<h1 id="createTitlePage">Login Page</h1>

       <form id="loginForm" action="/blogs/register" method="POST"">
        <span>Username:</span>
        <input type="text" name="username" />
        <span>Password:</span>
        <input type="text" name="password" />
        <button>Register</button>
       </form>

    </body>
</html>