<html>
<head>
<link rel="stylesheet"  href="/css/styles.css">
</head>

    <body>
<h1 id="createTitlePage">Register Page</h1>

       <form id="loginForm" action="/blogs/register" method="POST"">
        <span>Username:</span>
        <input type="text" name="username" />
        <span>Password:</span>
        <input type="text" name="password" />
        <button>Register</button>
       </form>

    </body>
</html>